.entry
  h1 #{@entry['header']}
  img.top_img src="#{@entry['head_img']}"
  div.top_copy ==@entry['top_copy']
  img.bottom_img src="#{@entry['bottom_img']}"  
  div.bottom_copy ==@entry['bottom_copy']
 