doctype html
html
  head
    script src="http://code.jquery.com/jquery-2.0.2.min.js" type="text/javascript"
    link href="/css/main.css" type="text/css" rel="stylesheet"
  body
    == slim :header
    == yield
    == slim :footer
      