body {
    font-family: helvetica, arial, verdana;
    font-size: 14px;
    
    a {
        color: #000000;
    }
}

#container {
    width: 913px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    #header {
        #logo {
            float: left;
        }
        #nav {
            float: right;
            vertical-align: buttom;
        }
        .hr {
            margin-top: 8px;
            amrgin-bottom: 8px;
        }
        #nav {
            float: right;
            margin-top: 298px;
            a {
                margin-left: 30px;
                text-decoration: none;
                &:hover {
                    color: #d22328;
                }
            }
        }
    }
    
}

.entry, .about, .submit {
    width: 881px;
    margin-left: auto;
    margin-right: auto;
    a {
        color: red;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .top_img, .bottom_img {
        width: 881px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .top_img {
        margin-top: 32px;
        margin-bottom: 25px;  
    }

    .bottom_img {
        margin-top:32px;
        margin-bottom: 40px;
    }

    .bottom_copy {
        margin-bottom: 80px;
    }

}

#entry {
    h1 {
        text-align: center;
    }
}

#about {
    h1 {
        text-align: left;
    }
}



#page_gallery {
    width: 913px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2px;
    padding-top: 5px;
    .thumb {
        margin-left: 2px;
        margin-right: 2px;
        &.first {
            margin-left: 0px;
        }
        &.last {
            margin-right: 0px;
        }
    }
}

#footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7  px;
    padding-bottom: 20px;
    .ddblogo {
        width: 197px;
        margin-left: 145px;
        display: block;
    }
    position: fixed;
    
    bottom: 0px;
    background-color: #fff;
}

