body {
  font-family: helvetica, arial, verdana;
  font-size: 14px; }
  body a {
    color: #000000; }

#container {
  width: 913px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  #container #header #logo {
    float: left; }
  #container #header #nav {
    float: right;
    vertical-align: buttom; }
  #container #header .hr {
    margin-top: 8px;
    amrgin-bottom: 8px; }
  #container #header #nav {
    float: right;
    margin-top: 298px; }
    #container #header #nav a {
      margin-left: 30px;
      text-decoration: none; }
      #container #header #nav a:hover {
        color: #d22328; }

.entry, .about, .submit {
  width: 881px;
  margin-left: auto;
  margin-right: auto; }
  .entry a, .about a, .submit a {
    color: red;
    text-decoration: none; }
    .entry a:hover, .about a:hover, .submit a:hover {
      text-decoration: underline; }
  .entry .top_img, .entry .bottom_img, .about .top_img, .about .bottom_img, .submit .top_img, .submit .bottom_img {
    width: 881px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .entry .top_img, .about .top_img, .submit .top_img {
    margin-top: 32px;
    margin-bottom: 25px; }
  .entry .bottom_img, .about .bottom_img, .submit .bottom_img {
    margin-top: 32px;
    margin-bottom: 40px; }
  .entry .bottom_copy, .about .bottom_copy, .submit .bottom_copy {
    margin-bottom: 80px; }

#entry h1 {
  text-align: center; }

#about h1 {
  text-align: left; }

#page_gallery {
  width: 913px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-top: 5px; }
  #page_gallery .thumb {
    margin-left: 2px;
    margin-right: 2px; }
    #page_gallery .thumb.first {
      margin-left: 0px; }
    #page_gallery .thumb.last {
      margin-right: 0px; }

#footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7  px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0px;
  background-color: #fff; }
  #footer .ddblogo {
    width: 197px;
    margin-left: 145px;
    display: block; }
